/* 自分側のウィンドウの大きさを調整 */
#local-video {
  position: relative;
  max-width: 1000px;  /*ウィンドウの横幅の最大値*/
  max-height: 1000px;  /*ウィンドウの縦幅の最大値*/
}

/* 相手側のウィンドウの大きさを調整 */
#remote-video {
  position: relative;
  width: 300px;
  max-width: 1000px;  /*ウィンドウの横幅の最大値*/
  max-height: 1000px;  /*ウィンドウの縦幅の最大値*/
}